<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>

{% include "nav.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image:url('static/img/sign.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Communiqu&eacute; No. 1</h1>

<p>Hello, I&#39;m Holly, and I&nbsp;am a bureaucrat. I&nbsp;loosely manage the <a href="http://wbdatalab.org/">World Bank Data Lab</a> and <a href="https://datapartnership.org/">Development Data Partnership</a> programs. I am very proud of these programs,&nbsp;and few days go by when I am not exceedingly grateful for / astounded by my highly skilled and deeply motivated colleagues.&nbsp;</p>

<p>Before this, I spent many years working with transportation authorities in emerging economies, helping them implement low-tech methods to solve problems around things like road crash mitigation, informal transit service improvement, and efficient rural road asset management.
These methods largely had to be invented, to meet the gap between paper-based activities and laser beams. As a result, I learned quite a lot about data -- collection, management, analytics, and policy.
And so, here I am. A bureaucrat, helping others build similar capacities for their counterparts.

<p>In a mid-life crisis spurt to prove to my younger colleagues that I&#39;ve still got it, I&#39;ve been taking self-paced coding classes and built this website. In theory, this site will&nbsp;help me keep up my coding practice, continue learning, and be a better manager. </p>

<p>Of course, any material that appears on this site reflects my own personal views and opinions and does not in *any way* reflect the positions of my employer. </p>

<p>Thank you for taking the time to visit. I hope your effort rewards you with a smile and a spark for a new idea. </p>

<p>😌,
  Holly</p>

        <p>P.S. Please do not hack my site -- I have not gotten to the class&nbsp;on web security yet. But I did hash and salt (multiple times!) my login password, so take that 🙅&zwj;♀️.&nbsp;</p>

<p>&nbsp;</p>

<hr />
<h1>Acknowledgements</h1>

<p>Starter template and uncredited stock images are from <a href="https://startbootstrap.com/">Start Bootstrap</a>. Training received from Angela Yu and her team at <a href="https://www.appbrewery.co/courses">App Brewery</a>. Enormous patience granted&nbsp;by husband and kiddos. ❤️</p>


        <br>
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/clean-blog.min.js"></script>

</body>

</html>
