<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
</head>
<body>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='comments') }}
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    <hr>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">️</th>
          <th scope="col"></th>
        </tr>
      </thead>
        {% for comment in blog['comments']: %}
      <tbody>
        <tr>
          <td class="align-middle"><img src='{{ comment["comment_author"]["email"]| gravatar }}'/></td>
          <td><p>{{comment["text"] | safe}} ✏️ {{comment["comment_author"]["name"]}}</p></td>
        </tr>
        {% endfor %}
      </tbody>
</table>
</div>

</body>
</html>