{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
{% include "nav.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image:url('https://2.bp.blogspot.com/-cj0omfDgEMY/Xet-p-die0I/AAAAAAAATAs/kUlaPIfcmYElQcT5sxi16YTSUk7ekEtHQCLcBGAsYHQ/s1600/Life_before_autocad%2B%25282%2529.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Coding Practice</h1>
            <span class="subheading">(a.k.a. Reminder Not to Quit My Day Job)</span>
              <br>
              <a style ="font-size:12px; color:#d3e0ea;"  href="https://images.unsplash.com/photo-1536181783029-1097aaf179de?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80"target="_blank">Image Source</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">


<div class="card-columns">
    {% for entry in portfolio: %}
  <div class="card">
    <a  href="{{entry['port_url']}}" target="_blank"><img class="card-img-top" src="{{entry['img_url']}}" alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title"> <a  href="{{entry['port_url']}}" target="_blank">{{entry['title']}}</a></h5>
      <p class="card-text">{{entry['body']}}</p>
      <p style="font-size:60%;">Date: {{entry['date']}}</p>
    </div>
  </div>
{% endfor %}
   </div>


</div>

{% include "footer.html" %}
{% endblock %}

<!--   Bootstrap core JavaScript-->
<!--  <script src="static/vendor/jquery/jquery.min.js"></script>-->
<!--  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!--  &lt;!&ndash; Custom scripts for this template &ndash;&gt;-->
<!--  <script src="static/js/clean-blog.min.js"></script>-->
